
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# Playwright artifacts
playwright-report/
test-results/
tmp-test-results*/

# temp
deleteme.txt

